{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}

    <h1> Account Settings </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Username</th>
                    <th class="text-start">Account Created on</th>

                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td class="text-start">{{ user["username"] }} </td>
                        <td class="text-start">{{ user["created"] }}</td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h2> Change Password</h2>
        <form action="/changepw" method="post">
            <div class="mb-3">
                <label for="currentpw" class="form-label">Current password</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="currentpw" name="currentpw" placeholder="Current password" type="password">
            </div>
            <div class="mb-3">
                <label for="newpw" class="form-label">New Password</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="newpw" name="newpw" placeholder="New password" type="password">
            </div>
            <div class="mb-3">
                <label for="confirmation" class="form-label">Confirm Password</label>
                <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
            </div>
            <button type="submit" class="btn btn-outline-secondary">Submit</button>
        </form>

{% endblock %}


